{% extends 'base.html' %}

{% block title_content %}
  <title>{{ type_name }} Payment</title>
{% endblock %}

{% block page_content %}
<h1>{{ type_name }} Payment</h1>
  <form action="/{{ urls }}" method="post">
    {% csrf_token %}
    <label for="method">Payment Method:</label>
    <input type="text" id="method" name="method" required>
    <br>
    <label for="value">Payment Value:</label>
    <input type="number" id="value" name="value" required>
    <br>
    <label for="staffId">Staff ID:</label>
    <input type="number" id="staffId" name="staffId" required>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
